.borderless {
  border: none !important;
}

.form-group-padding {
  padding-bottom: 3em !important;
}

.form-spacer {
  padding-bottom: 20em;
}

.scroll-bar {
  height:700px;
  overflow: scroll;
}

.form-body {
  background-image: url('./containers/background.jpeg');
  background-color: #cccccc;
  background-attachment: fixed;
}
